body{
	background-color: white;
}
.container{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
	width: 600px;
	height: 140px;
	background-color: white;
	border-style: 2px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
	padding-top: 10px;
	padding-bottom: 10px
}
.box{
	width: 33%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
}
.cloud-hosting{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

img{
	padding-top: 5px;
	width: 55px;
}
p{
	flex: 2;
	font-weight: bold;
	font-size: 14px;
}
input{
	color: #fff; 
  	text-decoration: none; 
  	user-select: none; 
  	background: rgb(212,75,56); 
  	padding-top: 5px;
  	padding-bottom: 2px; 
  	outline: none; 
}

input:hover { 
	background: rgb(232,95,76); 
} 
input:active { 
	background: rgb(152,15,0); 
} 
p.price{
	padding-top: 2px;
	font-size: 11px;
}